build
.cache
data
index.lmdb
index.lmdb-lock
test/.test_venv
.vscode/settings.json
__pycache__
test/.venv/*
builds
vcpkg
vcpkg_installed
/homepage/_site
*.sqlgenbackup
.test_venv
minio
quicktype-bundled.js
template.db
test/awsgosdktest/gosdktest
test/miniosdktest/miniosdktest
